<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">

    <link rel="stylesheet" href="/static/base.css">
    <link rel="icon" href="/static/logo.png" type="image/png">

    <title>Admin Panel</title>
</head>
<body>
    <pre style="word-wrap: break-word; white-space: pre-wrap;">{{ ret }}</pre><br>
    <a href="/admin/" id="return">Back to panel</a>
</body>
</html>